<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Admin</title>
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
<link type="text/css" rel="stylesheet" href="../../static/css/nes.min.css">
<style>
    html, body, pre, code, kbd, samp {
        font-family: "Press Start 2P",serif;
    }
</style>
<body>
<!-- About -->
<section class="topic">
    <h2 id="title"><a href="#about">#</a>About</h2>
    <p>Sharks is NES-style (8bit-like) CSS Framework.</p>
</section>

<p th:text="'First starter application, please register user!'"></p>

<p class="nes-balloon from-left nes-pointer">
    This is not a clickable element, but it's an area of the pointer.
</p>

</body>
</html>